* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 90px);
}

aside {
    width: 240px;
    background-color: black;
    padding: 0 25px;
    color: white;
}

aside nav {
    position: relative;
}

aside nav a {
    width: 100%;
}

aside nav a img {
    height: 90px;
    width: 70%;
    vertical-align: middle;
}

aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    padding: 7px 0;
}

aside nav ul .border a {
    border-left: 2px solid yellowgreen;
    position: relative;
    right: 25px;
    padding-left: 23px;
}

aside nav ul li a {
    text-decoration: none;
    color: #B2B2B2;
    font-size: 13px;
}

aside nav ul li a img {
    width: 20%;
    height: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

aside nav h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
}

aside nav a {
    padding: 10px 0;
    color: #B2B2B2;
    text-decoration: none;
}

aside nav a span{
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 0px 10px;
    background-color: #B2B2B2;
    vertical-align: middle;
    margin-right: 10px;
}

.profile {
    position: fixed;
    bottom: 90px;
    width: 190px;
    margin: 0 auto;
    background-color: black;
}

.profile a {
    padding: 10px 0;
    display: block;
    width: 100%;
}

.profile a:first-child {
    border-bottom: 1px solid #B2B2B2;
    font-size: 12px;
}

.profile a:first-child img{
    height: 18px;
}


.profile a:last-child {
    color: white;
    font-weight: 600;
}

.profile a:last-child img {
    background-color: #525252;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
} 

.profile a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: white;
}

main {
    width: calc(100% - 240px);
    background-color: #141922;
}

.upgrade {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0px;
}

.upgrade span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0 , -50%);
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.main-content {
    width: 100%;
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

.main-content nav {
    padding-top: 20px;
}


.main-content nav ul{
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.main-content nav ul li a {
    color: #B2B2B2;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-content nav ul li:first-child a {
    position: relative;
}

.main-content nav ul li:first-child a:before {
    content : "";
    position: absolute;
    left    : 30%;
    bottom  : 0;
    width   : 40%;
    border-bottom: 2px solid greenyellow;
  }

.main-content h1 {
    padding: 20px 30px;
}

.main-content p {
    padding-left: 30px;
    color: #B2B2B2;
}

.main-content section{
    padding: 0 20px;
}

.card {
    width: calc(100% / 6);
    padding: 10px;
}

.card img {
    width: 100%;
}


.card .circle img {
    border: none;
    border-radius: 50%;
}

.card h2 {
    padding: 10px 0;
    text-align: center;
}

.card h3 {
    text-align: center;
    color: #B2B2B2;
    font-size: 14px;
}

footer {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #181818;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.first {
    width: 20%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.first img {
    margin-left: 25px;
    width: 40px;
    height: 40px;
}

.first section {
    padding: 15px 20px;
}

.first section h3 {
    font-size: 14px;
}

.first section span {
    font-size: 12px;
    color: #B2B2B2;
}

.first i {
    padding-right: 20px;
}

.second {
    width: 60%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.second div {
    width: 100%;
    height: 50%;
}

.second .action {
    justify-content: center;
    align-items: center;
}

.second .action i {
    padding: 10px 20px;
    font-size: 22px;
}

.second .action .fa-circle-play {
    padding: 10px 25px;
    font-size: 32px;
}

.status {
    justify-content: center;
    align-items: center;
}

.second .time {   
    height: 5px;
    width: 25vw;
    border-radius: 10px;
    background-color: #525252;
    margin: 0 20px;
}

.second .time-on {
    height: 5px;
    width: 20%;
    border-radius: 10px;
    background-color: #B2B2B2;
}

.third {
    width: 20%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.third .volume {
    margin-right: 10px;    
    height: 5px;
    width: 8vw;
    border-radius: 10px;
    background-color: #525252;
}

.third .volume-on {
    height: 5px;
    width: 20%;
    border-radius: 10px;
    background-color: #B2B2B2;
}

.third i {
    padding: 0 10px;
}