* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 90px);
}

aside {
    width: 240px;
    background-color: black;
    padding: 0 25px;
    color: white;
}

aside nav {
    position: relative;
}

aside nav a {
    width: 100%;
}

aside nav a img {
    height: 90px;
    width: 70%;
    vertical-align: middle;
}

aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    padding: 7px 0;
}



aside nav ul li a {
    text-decoration: none;
    color: #B2B2B2;
    font-size: 13px;
}

aside nav ul li a img {
    width: 20%;
    height: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

aside nav h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
}

aside nav a {
    padding: 10px 0;
    color: #B2B2B2;
    text-decoration: none;
}

aside nav a span{
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 0px 10px;
    background-color: #B2B2B2;
    vertical-align: middle;
    margin-right: 10px;
}

.profile {
    position: fixed;
    bottom: 90px;
    width: 190px;
    margin: 0 auto;
}

.profile a {
    padding: 10px 0;
    display: block;
    width: 100%;
}

.profile a:first-child {
    border-bottom: 1px solid #B2B2B2;
    font-size: 12px;
}

.profile a:first-child img{
    height: 18px;
}


.profile a:last-child {
    color: white;
    font-weight: 600;
}

.profile a:last-child img {
    background-color: #525252;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
} 

.profile a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: white;
}

main {
    width: calc(100% - 240px);
    background-color: #141922;
}

.upgrade {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
}

.upgrade span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0 , -50%);
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 14px;
    color: white;
}

.main-content {
    width: 100%;
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #181818;
}